body {
    cursor: default;
}

#root {
    margin-top: 15px;
}

@media screen and (max-width: 991px) {
    .panel {
        overflow-x: scroll;
    }
}

@media print {
    .print-hidden {
        display: none;
    }
}

.mb-16 {
    margin-bottom: 16px;
}

.progress-bar {
    color: #000;
}
