body {
    cursor: default;
    padding-top: 50px;
    padding-bottom: 50px;
    --toastify-font-family: var(--bs-body-font-family);
}

#root {
    margin-top: 15px;
}

@media screen and (max-width: 991px) {
    .panel {
        overflow-x: scroll;
    }
}

@media print {
    .print-hidden {
        display: none;
    }
}

.mb-16 {
    margin-bottom: 16px;
}

.progress-bar {
    color: #000;
}

.new-transport-warning {
    display: inline-block;
    animation: fadeLoop 2s ease-in-out infinite;
}

@keyframes fadeLoop {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}
